<a href="https://colab.research.google.com/github/pierandreamorelli/stage/blob/main/cs_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

1. Upload DataFrame

In [4]:
import pandas as pd

df_AN = pd.read_csv('/content/drive/MyDrive/dataset/cs_search.csv')
df_LY = pd.read_csv('/content/drive/MyDrive/dataset/cs_fs_lastyear.csv')
df_PY = pd.read_csv('/content/drive/MyDrive/dataset/cs_fs_prevyear.csv')
df_PPY = pd.read_csv('/content/drive/MyDrive/dataset/cs_fs_prevprevyear.csv')

In [5]:
df_AN.set_index('id')
df_AN.head()

,index,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,dateOfLatestAccounts,dateOfLatestChange,phoneNumbers,activityCode,address.simpleValue,address.street,address.city,address.postCode,address.province,address.houseNo
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,2020-12-31T00:00:00.000000Z,2022-05-16T21:24:18.000Z,['0688817631'],86903.0,"VIA FEDERICO ROSAZZA, 58, ROMA, 00153, RM",VIA FEDERICO ROSAZZA,ROMA,153.0,RM,58
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,2020-12-31T00:00:00.000000Z,2022-04-20T17:08:07.000Z,['0659821'],4671.0,"PLE ENRICO MATTEI, 1, ROMA, 00144, RM",PLE ENRICO MATTEI,ROMA,144.0,RM,1
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,2020-12-31T00:00:00.000000Z,2022-06-01T13:39:12.000Z,"['0685094393', '0683051']",4671.0,"VLE REGINA MARGHERITA, 125, ROMA, 00198, RM",VLE REGINA MARGHERITA,ROMA,198.0,RM,125
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,2020-12-31T00:00:00.000000Z,2022-04-14T17:57:45.000Z,['06602921'],4671.0,"VLE CASTELLO DELLA MAGLIANA, 25, ROMA, 00148, RM",VLE CASTELLO DELLA MAGLIANA,ROMA,148.0,RM,25
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,2021-09-30T00:00:00.000000Z,2022-06-14T11:19:34.000Z,['800188800'],4635.0,"VIA VALADIER, 37, ROMA, 00193, RM",VIA VALADIER,ROMA,193.0,RM,37

In [6]:
df_LY.set_index('companyId')
df_LY.head()

,index,type,yearEndDate,currency,consolidatedAccounts,companyId,profitAndLoss.revenue,profitAndLoss.operatingCosts,profitAndLoss.operatingProfit,profitAndLoss.wagesAndSalaries,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,GlobalFinancialsGGS,2020-12-31T00:00:00Z,EUR,False,IT-0-RM1339740,512354,489130,23224,55995.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,GlobalFinancialsGGS,2020-12-31T00:00:00Z,EUR,False,IT-0-RM1174612,16670667412,16374099231,296568181,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,GlobalFinancialsGGS,2020-12-31T00:00:00Z,EUR,False,IT-0-RM936646,13175549443,12903185000,272364443,NaN,...,NaN,NaN,NaN,NaN,1.970781e+07,146462584.0,NaN,146462584.0,NaN,1.11
3,0,GlobalFinancialsGGS,2020-12-31T00:00:00Z,EUR,False,IT-0-RM14830,7748650921,7972075317,-223424396,40016022.0,...,1470308.0,15024796.0,79109991.0,0.0,1.321276e+09,139243981.0,219857804.0,359101785.0,NaN,4.63
4,0,GlobalFinancialsGGS,2021-09-30T00:00:00Z,EUR,False,IT-0-RM986948,3550318670,3455611488,94707182,26372632.0,...,NaN,6329331.0,11266641.0,NaN,3.761600e+06,NaN,402568213.0,402568213.0,NaN,11.34

In [7]:
df_PY.set_index('companyId')
df_PY.head()

,index,type,yearEndDate,currency,consolidatedAccounts,companyId,profitAndLoss.revenue,profitAndLoss.operatingCosts,profitAndLoss.operatingProfit,profitAndLoss.wagesAndSalaries,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,1,GlobalFinancialsGGS,2019-12-31T00:00:00Z,EUR,False,IT-0-RM1339740,614038,698143,-84105.0,90369.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,GlobalFinancialsGGS,2019-12-31T00:00:00Z,EUR,False,IT-0-RM1174612,30705465469,30335678705,369786764.0,0.0,...,0.0,0.0,0.0,0.0,2.829930e+07,264663400.0,0.0,264663400.0,0.0,0.86
2,1,GlobalFinancialsGGS,2019-12-31T00:00:00Z,EUR,False,IT-0-RM936646,24943890221,24973518519,-29628298.0,NaN,...,NaN,NaN,NaN,NaN,1.539921e+07,208742104.0,NaN,208742104.0,NaN,0.84
3,1,GlobalFinancialsGGS,2019-12-31T00:00:00Z,EUR,False,IT-0-RM14830,12200405360,12139836577,60568783.0,39683861.0,...,1502932.0,14974622.0,74574803.0,0.0,1.321305e+09,100308081.0,305914896.0,406222977.0,NaN,3.33
4,1,GlobalFinancialsGGS,2020-09-30T00:00:00Z,EUR,False,IT-0-RM986948,3086895079,2997171700,89723379.0,23259706.0,...,NaN,6396066.0,11028383.0,NaN,7.616000e+05,NaN,330327581.0,330327581.0,NaN,10.70

In [8]:
df_PPY.set_index('companyId')
df_PPY.head()

,index,type,yearEndDate,currency,consolidatedAccounts,companyId,profitAndLoss.revenue,profitAndLoss.operatingCosts,profitAndLoss.operatingProfit,profitAndLoss.wagesAndSalaries,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,2,GlobalFinancialsGGS,2018-12-31T00:00:00Z,EUR,False,IT-0-RM1339740,8.535930e+05,8.571400e+05,-3547.0,85026.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,GlobalFinancialsGGS,2018-12-31T00:00:00Z,EUR,False,IT-0-RM1174612,3.345701e+10,3.340370e+10,53310633.0,0.0,...,0.0,0.0,0.0,0.0,2.829930e+07,589247430.0,0.0,589247430.0,0.0,1.76
2,2,GlobalFinancialsGGS,2018-12-31T00:00:00Z,EUR,False,IT-0-RM936646,1.845024e+10,1.852284e+10,-72602797.0,NaN,...,NaN,NaN,NaN,NaN,1.783080e+07,265881887.0,NaN,265881887.0,NaN,1.44
3,2,GlobalFinancialsGGS,2018-12-31T00:00:00Z,EUR,False,IT-0-RM14830,1.419495e+10,1.443629e+10,-241338356.0,84972345.0,...,3060878.0,18442937.0,86190443.0,0.0,1.320406e+09,131536948.0,295167895.0,426704843.0,NaN,3.01
4,2,GlobalFinancialsGGS,2019-09-30T00:00:00Z,EUR,False,IT-0-RM986948,2.943022e+09,2.863147e+09,79875323.0,22760994.0,...,NaN,6594572.0,13592100.0,NaN,7.616000e+05,NaN,337951049.0,337951049.0,NaN,11.48

2. Concat DataFrame Financial - Anagraphic

In [9]:
df_res_LY = df_AN.join(df_LY, lsuffix='_AN', rsuffix='_LY')
df_res_LY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.970781e+07,146462584.0,NaN,146462584.0,NaN,1.11
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,1470308.0,15024796.0,79109991.0,0.0,1.321276e+09,139243981.0,219857804.0,359101785.0,NaN,4.63
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6329331.0,11266641.0,NaN,3.761600e+06,NaN,402568213.0,402568213.0,NaN,11.34

In [10]:
df_res_PY = df_AN.join(df_PY, lsuffix='_AN', rsuffix='_PY')
df_res_PY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,0.0,0.0,0.0,0.0,2.829930e+07,264663400.0,0.0,264663400.0,0.0,0.86
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.539921e+07,208742104.0,NaN,208742104.0,NaN,0.84
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,1502932.0,14974622.0,74574803.0,0.0,1.321305e+09,100308081.0,305914896.0,406222977.0,NaN,3.33
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6396066.0,11028383.0,NaN,7.616000e+05,NaN,330327581.0,330327581.0,NaN,10.70

In [11]:
df_res_PPY = df_AN.join(df_PPY, lsuffix='_AN', rsuffix='_PPY')
df_res_PPY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,0.0,0.0,0.0,0.0,2.829930e+07,589247430.0,0.0,589247430.0,0.0,1.76
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.783080e+07,265881887.0,NaN,265881887.0,NaN,1.44
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,3060878.0,18442937.0,86190443.0,0.0,1.320406e+09,131536948.0,295167895.0,426704843.0,NaN,3.01
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6594572.0,13592100.0,NaN,7.616000e+05,NaN,337951049.0,337951049.0,NaN,11.48

3. Duplicates Drop

In [12]:
df_res_LY = df_res_LY.loc[:,~df_res_LY.columns.duplicated()].copy()
df_res_LY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.970781e+07,146462584.0,NaN,146462584.0,NaN,1.11
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,1470308.0,15024796.0,79109991.0,0.0,1.321276e+09,139243981.0,219857804.0,359101785.0,NaN,4.63
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6329331.0,11266641.0,NaN,3.761600e+06,NaN,402568213.0,402568213.0,NaN,11.34

In [13]:
df_res_PY = df_res_PY.loc[:,~df_res_PY.columns.duplicated()].copy()
df_res_PY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,0.0,0.0,0.0,0.0,2.829930e+07,264663400.0,0.0,264663400.0,0.0,0.86
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.539921e+07,208742104.0,NaN,208742104.0,NaN,0.84
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,1502932.0,14974622.0,74574803.0,0.0,1.321305e+09,100308081.0,305914896.0,406222977.0,NaN,3.33
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6396066.0,11028383.0,NaN,7.616000e+05,NaN,330327581.0,330327581.0,NaN,10.70

In [14]:
df_res_PPY = df_res_PPY.loc[:,~df_res_PPY.columns.duplicated()].copy()
df_res_PPY.head()

,index_AN,Unnamed: 0,id,country,regNo,vatNo,safeNo,name,status,officeType,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,IT,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,IT,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,...,0.0,0.0,0.0,0.0,2.829930e+07,589247430.0,0.0,589247430.0,0.0,1.76
2,2,0,IT-0-RM936646,IT,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,...,NaN,NaN,NaN,NaN,1.783080e+07,265881887.0,NaN,265881887.0,NaN,1.44
3,3,0,IT-0-RM14830,IT,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,...,3060878.0,18442937.0,86190443.0,0.0,1.320406e+09,131536948.0,295167895.0,426704843.0,NaN,3.01
4,4,0,IT-0-RM986948,IT,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,...,NaN,6594572.0,13592100.0,NaN,7.616000e+05,NaN,337951049.0,337951049.0,NaN,11.48

4. Unique values drop

In [ ]:
nunique = df_res_LY.nunique()
cols_to_drop = nunique[nunique == 1].index
df_res_LY = df_res_LY.drop(cols_to_drop, axis=1)
df_res_LY.head()

In [ ]:
nunique = df_res_PY.nunique()
cols_to_drop = nunique[nunique == 1].index
df_res_PY = df_res_PY.drop(cols_to_drop, axis=1)
df_res_PY.head()

In [26]:
nunique = df_res_PPY.nunique()
cols_to_drop = nunique[nunique == 1].index
df_res_PPY = df_res_PPY.drop(cols_to_drop, axis=1)
df_res_PPY.head()

,index_AN,Unnamed: 0,id,regNo,vatNo,safeNo,name,status,officeType,type_AN,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,IT-0-RM1339740,RM1339740,"['11958401009', '11958401009']",IT03782942,COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,active,headOffice,Ltd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,IT-0-RM1174612,RM1174612,"['09598861004', '09598861004']",IT03687197,ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,active,headOffice,Ltd,...,0.0,0.0,0.0,0.0,2.829930e+07,589247430.0,0.0,589247430.0,0.0,1.76
2,2,0,IT-0-RM936646,RM936646,"['05918271007', '05918271007']",IT03629604,ENEL GLOBAL TRADING S.P.A.,active,headOffice,Ltd,...,NaN,NaN,NaN,NaN,1.783080e+07,265881887.0,NaN,265881887.0,NaN,1.44
3,3,0,IT-0-RM14830,RM14830,"['00473410587', '00902231000']",IT03514961,ESSO ITALIANA S.R.L.,active,headOffice,Ltd,...,3060878.0,18442937.0,86190443.0,0.0,1.320406e+09,131536948.0,295167895.0,426704843.0,NaN,3.01
4,4,0,IT-0-RM986948,RM986948,"['06741351008', '06741351008']",IT03677379,LOGISTA ITALIA S.P.A.,active,headOffice,Ltd,...,NaN,6594572.0,13592100.0,NaN,7.616000e+05,NaN,337951049.0,337951049.0,NaN,11.48

5. Categorical Columns Identification

In [23]:
cols = df_res_LY.columns
num_cols = df_res_LY._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))
cat_cols

['dateOfLatestAccounts',
 'vatNo',
 'name',
 'yearEndDate',
 'address.street',
 'address.city',
 'address.province',
 'dateOfLatestChange',
 'phoneNumbers',
 'companyId',
 'address.houseNo',
 'status',
 'regNo',
 'safeNo',
 'id',
 'type_AN',
 'address.simpleValue',
 'officeType']

6. Numeric Columns Identification

In [ ]:
num_cols = df_res_LY._get_numeric_data()
num_cols

7. Encoding One Hot cat_cols

In [34]:
cat_df = pd.DataFrame()
for i in cat_cols:
  cat_df[i] = df_res_LY[i]

In [40]:
cat_df.head()

,dateOfLatestAccounts,vatNo,name,yearEndDate,address.street,address.city,address.province,dateOfLatestChange,phoneNumbers,companyId,address.houseNo,status,regNo,safeNo,id,type_AN,address.simpleValue,officeType
0,2020-12-31T00:00:00.000000Z,"['11958401009', '11958401009']",COOPERATIVA SOCIALE DI PSICOTERAPIA MEDICA - S...,2020-12-31T00:00:00Z,VIA FEDERICO ROSAZZA,ROMA,RM,2022-05-16T21:24:18.000Z,['0688817631'],IT-0-RM1339740,58,active,RM1339740,IT03782942,IT-0-RM1339740,Ltd,"VIA FEDERICO ROSAZZA, 58, ROMA, 00153, RM",headOffice
1,2020-12-31T00:00:00.000000Z,"['09598861004', '09598861004']",ENI TRADING & SHIPPING S.P.A. - IN LIQUIDAZIONE,2020-12-31T00:00:00Z,PLE ENRICO MATTEI,ROMA,RM,2022-04-20T17:08:07.000Z,['0659821'],IT-0-RM1174612,1,active,RM1174612,IT03687197,IT-0-RM1174612,Ltd,"PLE ENRICO MATTEI, 1, ROMA, 00144, RM",headOffice
2,2020-12-31T00:00:00.000000Z,"['05918271007', '05918271007']",ENEL GLOBAL TRADING S.P.A.,2020-12-31T00:00:00Z,VLE REGINA MARGHERITA,ROMA,RM,2022-06-01T13:39:12.000Z,"['0685094393', '0683051']",IT-0-RM936646,125,active,RM936646,IT03629604,IT-0-RM936646,Ltd,"VLE REGINA MARGHERITA, 125, ROMA, 00198, RM",headOffice
3,2020-12-31T00:00:00.000000Z,"['00473410587', '00902231000']",ESSO ITALIANA S.R.L.,2020-12-31T00:00:00Z,VLE CASTELLO DELLA MAGLIANA,ROMA,RM,2022-04-14T17:57:45.000Z,['06602921'],IT-0-RM14830,25,active,RM14830,IT03514961,IT-0-RM14830,Ltd,"VLE CASTELLO DELLA MAGLIANA, 25, ROMA, 00148, RM",headOffice
4,2021-09-30T00:00:00.000000Z,"['06741351008', '06741351008']",LOGISTA ITALIA S.P.A.,2021-09-30T00:00:00Z,VIA VALADIER,ROMA,RM,2022-06-14T11:19:34.000Z,['800188800'],IT-0-RM986948,37,active,RM986948,IT03677379,IT-0-RM986948,Ltd,"VIA VALADIER, 37, ROMA, 00193, RM",headOffice

In [46]:
onehot = pd.get_dummies(cat_df['officeType'])
onehot.head()

   headOffice  other
0           1      0
1           1      0
2           1      0
3           1      0
4           1      0

8. Scaling and Normalization num_cols

In [51]:
num_df_LY = df_res_LY
for i in cat_cols:
  num_df_LY = num_df_LY.drop([i], axis = 1)

In [52]:
num_df_LY.head()

,index_AN,Unnamed: 0,activityCode,address.postCode,profitAndLoss.revenue,profitAndLoss.operatingCosts,profitAndLoss.operatingProfit,profitAndLoss.wagesAndSalaries,profitAndLoss.depreciation,profitAndLoss.amortisation,...,profitAndLoss.pensionCosts,balanceSheet.landAndBuildings,balanceSheet.plantAndMachinery,balanceSheet.goodwill,balanceSheet.investments,balanceSheet.rawMaterials,balanceSheet.finishedGoods,balanceSheet.totalInventories,balanceSheet.tradePayablesDueAfter1Year,ratios.stockTurnoverRatio
0,0,0,86903.0,153.0,512354,489130,23224,55995.0,1454.0,2520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,4671.0,144.0,16670667412,16374099231,296568181,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,4671.0,198.0,13175549443,12903185000,272364443,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.970781e+07,146462584.0,NaN,146462584.0,NaN,1.11
3,3,0,4671.0,148.0,7748650921,7972075317,-223424396,40016022.0,8171857.0,1037167.0,...,1470308.0,15024796.0,79109991.0,0.0,1.321276e+09,139243981.0,219857804.0,359101785.0,NaN,4.63
4,4,0,4635.0,193.0,3550318670,3455611488,94707182,26372632.0,4528953.0,1985055.0,...,NaN,6329331.0,11266641.0,NaN,3.761600e+06,NaN,402568213.0,402568213.0,NaN,11.34

In [53]:
from sklearn import preprocessing

x = num_df_LY.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

norm_df = pd.DataFrame(x_scaled)
norm_df.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,0.000000,0.0,0.123744,0.001153,0.000031,0.000004,0.398320,0.000135,0.000008,0.000030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.002217,0.0,0.006638,0.001061,1.000000,1.000000,0.926943,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.004435,0.0,0.006638,0.001612,0.790343,0.788019,0.883798,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.003672,1.000000,NaN,0.363821,NaN,0.001954
3,0.006652,0.0,0.006638,0.001102,0.464807,0.486858,0.000000,0.096791,0.046636,0.012434,...,0.054611,0.008877,0.279806,0.0,0.246172,0.950714,0.546138,0.892027,NaN,0.008152
4,0.008869,0.0,0.006586,0.001561,0.212968,0.211021,0.567104,0.063790,0.025846,0.023797,...,NaN,0.003740,0.039849,NaN,0.000701,NaN,1.000000,1.000000,NaN,0.019967


# Pipeline 1 - Data Preparation
1.   Caricare DF: PY, PPY
2.   Concatenare AN con PY, PPY
3.   Eliminare colonne duplicate (Pandas)
4.   Identificare colonne che hanno un solo valore e dropparle
5. Identificare colonne categoriche
6. Fare encoding one-hot per colonne categoriche
7. Identificare colonne numeriche
8. Fare re-scaling e normalizzare colonne numeriche
9. Gestire valori NaN

# Pipeline 2 - Training


1.   Identificare la Y (colonna target, presa da df_LY) 
2.   Opzionale: passare anche la Y nella data preparation 
3. Attaccare Y a df_res 
4. split train e test (80%, 20%)
5. identificare due/quattro modelli 
6. identificare le metriche di valutazione
7. effettuare il training dei modelli
8. valutarne le performance